@import 'mixins/colors';

body {
  font-family:Arial;
}

div {
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 84vw;
  margin: auto;
  outline: 1px solid $colorBorder;

  .field {
    border: 1px solid $colorBorder;
    width: 12vw;
    height: 12vw;
    cursor: pointer;

    &:first-child {
      display: block;
    }

    .piece {
      width: 10vw;
      height: 10vw;
      border-radius: 50%;
      margin: 1vw;
    }

    .playerOne {
      background-color: $colorPlayerOne;
    }

    .playerTwo {
      background-color: $colorPlayerTwo;
    }
  }
}

.myButton {
  background-color: $colorPlayerOne;
  border-radius:28px;
  border:1px solid $colorPlayerTwo;
  display:inline-block;
  cursor:pointer;
  color: $colorButtonText;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px $colorBorder;
  margin-bottom: 20px;
  margin-left: 50px;

  &:hover {
    background-color: $colorPlayerTwo;
  }

  &:active {
    position:relative;
    top:1px;
  }
}

